<!DOCTYPE html>
<html>
  <head>

    <link rel='stylesheet' href='/stylesheets/actuality.css' />
    <link rel="icon"type="image/png" href="/images/l1.png"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>liqnet</title>
  </head>
  <body>
  	<section>
  		<center>
  			<div class="heading">
  				<div class="heading1" onclick="window.print()">
  					<img src="/images/img<%=log_id %>.png" class="log">
  				</div>
  				<div class="heading2">
  				
  					<div class="no">
  						<p><%= device_inf[0].name%></p>
  						<p><%= device_inf[0].name_sg%></p>
  					</div>
  					
  				</div>
  			</div>
  		<% variation.forEach( vare =>{%>
  		
  			<div class="jrnl">
  				<p class="p1"><%= vare.dax%></p>
  				<p class="p2"><%= vare.tix%></p>
  				<% if(vare.bonus > 0){%>
	  				<div class="xgreen"></div>
	  				<p class="p3">+<%= vare.bonus %>(<%= vare.actualisation%> L)</p>
  				<%} else if(vare.bonus < 0){%>
  					<div class="xred"></div>
  					<p class="p3">(<%= vare.actualisation%> L)</p>
  				<% }%>
  			</div>
  			
		<% }); %>
  		</center>
  	</section>
  </body>
  
</html>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js" integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/javascripts/actuality.js"></script>

